{% extends 'base.html' %}

{% block title %}
Principal
{% endblock %}

{% block body %}
    <h1>Hola mundo yo soy mainapp</h1>

    <ul>
        <li><a class="btn btn-success" href="/compras">Compras</a></li>
        <li></li>
        <li><a class="btn btn-success" href="/inventario">Inventario</a></li>
        <li></li>
        <li><a class="btn btn-success" href="/planeaccion">Planeacion</a></li>
        <li></li>
        <li><a class="btn btn-success" href="/produccion">Produccion</a></li>
        <li></li>
        <li><a class="btn btn-success" href="/ventas">Ventas</a></li>
    </ul>
{% endblock %}
