{% extends 'base.html' %}

{% block title %}
Principal
{% endblock %}

{% block body %}
    <h1>Hola mundo yo soy compras</h1>
	<a href="{% url 'compras:proveedor_consultar' %}" class="btn btn-success">Consultar Proveedores</a>
    <a href="{% url 'compras:proveedor_alta' %}" class="btn btn-success">Agregar Proveedores</a>
    <a href="{% url 'compras:compra_consultar' %}" class="btn btn-success">Consultar Compra</a>
    <a href="{% url 'compras:compra_alta' %}" class="btn btn-success">Agregar Compra</a>
    <a href="{% url 'compras:ContactoProveedor_consultar' %}" class="btn btn-success">Consultar Contacto Proveedor</a>
    <a href="{% url 'compras:ContactoProveedor_alta' %}" class="btn btn-success">Agregar Contacto Proveedor</a>
    
{% endblock %}