{% extends 'base.html' %}
{# Cargar la libreria de bootstrap form #}
{% load bootstrap3 %}

{% block title %}
    Agregar Materiales
{% endblock %}

{% block body %}
    {# Display a form #}
    <div class="row">
        <div class="col-lg-6">
            <h2>Agregar Materiales</h2>
            <br>
        </div>
    </div>

    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Guardar
            </button>
        {% endbuttons %}
    </form>

    <br><br>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Numero Factura</th>
                    <th>ID Detalle</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>SubTotal</th>                    
                </tr>
                </thead>
                <tbody>
                {% if detalles %}
                    {% for detalle in detalles %}
                        <tr>
                            <td>{{ compra.num_factura }} </td>  
                            <td>{{ detalle.pk }} </td>
                            <td>{{ detalle.producto }} </td>
                            <td>{{ detalle.cantidad }} </td>   
                            <td>{{ detalle.precio }} </td> 
                            <td>{{ detalle.subtotal }} </td>                                      
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <p>Ningun registro</p>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}