{% extends 'base.html' %}
{# Cargar la libreria de bootstrap form #}
{% load bootstrap3 %}

{% block title %}
    Agregar Venta
{% endblock %}

{% block body %}
    {# Display a form #}
    <div class="row">
        <div class="col-lg-6">
            <h2>Agregar Venta</h2>
            <br>
        </div>
    </div>


    <div class="row">
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Guardar
            </button>
        {% endbuttons %}
    </form>
    </div>
{% endblock %}