{% extends 'base.html' %}
{# Cargar la libreria de bootstrap form #}
{% load bootstrap3 %}

{% block title %}
    Detalle Venta
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            <h2>Detalle Venta</h2>
        </div>
        <div class="col-lg-6">
            <a href="{% url 'ventas:ventas_alta' %}" class="btn btn-success btn-small pull-right">Agregar Producto</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Numero Venta</th>
                    <th>ID Detalle</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>SubTotal</th> 
                </tr>
                </thead>
                <tbody>
                {% if detalles %}
                    {% for detalle in detalles %}
                        <tr onclick="window.location='{% url 'ventas:ventas_detalle' pk=venta.pk %}'">
                            <td>{{ venta.num_factura }} </td>  
                            <td>{{ detalle.pk }} </td>
                            <td>{{ detalle.producto }} </td>
                            <td>{{ detalle.cantidad }} </td>   
                            <td>{{ detalle.precio }} </td>  
                            <td>{{ detalle.subtotal }} </td>                     
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <p>Ningun registro</p>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}