{% extends 'base.html' %}

{% block title %}
    Principal
{% endblock %}

{% block body %}
    <h1>Producci&oacute;n</h1>
    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


                {# ordenes de produccion  #}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {#                    <label for="orden">No. Orden</label>#}
                    {#                    <input id="orden" type="text" value="654657" disabled/>#}
                    {##}
                    {#                    <label for="fecha">Fecha</label>#}
                    {#                    <input id="fecha" type="text" value="12/10/2015" disabled/>#}
                    <h2> Ordenes de Produccion - Iniciadas</h2>

                    <div class="col-lg-1"></div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Articulo</th>
                            <th>Cantidad</th>
                            <th>Status</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Entrega</th>
                            <th>Fecha Creacion</th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% if ordenes %}
                            {% for orden in ordenes %}
                                <tr>
                                    <td>{{ orden.id_lote }}</td>
                                    <td>{{ orden.nombre_articulo.nombre }}</td>
                                    <td>{{ orden.cantidad }}</td>
                                    <td>{{ orden.get_status_display }}</td>
                                    <td>{{ orden.fecha_inicio }}</td>
                                    <td>{{ orden.fecha_entrega }}</td>
                                    <td>{{ orden.fecha_creacion }}</td>
                                    <td>
                                        <button class="btn btn-primary"
                                                onclick="window.location='{% url 'produccion:detalle_orden' pk=orden.id_lote %}'">
                                            Ver Detalle
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    {##}
                    {#                    <table class="table table-bordered">#}
                    {#                        <thead>#}
                    {#                        <tr>#}
                    {#                            <th>Etapa</th>#}
                    {#                            <th>Proceso</th>#}
                    {#                            <th>Codigo</th>#}
                    {#                            <th>Descripcion</th>#}
                    {#                            <th>No. Serie</th>#}
                    {#                        </tr>#}
                    {#                        </thead>#}
                    {#                        <tbody>#}
                    {#                        <tr>#}
                    {#                            <td>Ensamble</td>#}
                    {#                            <td>Ensamble Tarjeta</td>#}
                    {#                            <td>Ens56</td>#}
                    {#                            <td>Ensable de tarjeta madre a case</td>#}
                    {#                            <td>AB</td>#}
                    {#                        </tr>#}
                    {#                        <tr>#}
                    {#                            <td>Plastico</td>#}
                    {#                            <td>Moldeo</td>#}
                    {#                            <td>mold01</td>#}
                    {#                            <td>Moldeo de plastico de case</td>#}
                    {#                            <td>AF</td>#}
                    {#                        </tr>#}
                    {##}
                    {#                        </tbody>#}
                    {#                    </table>#}
                </div>

                {#   status de producion         #}
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {#                    <label for="orden">No. Orden</label>#}
                    {#                    <input id="orden" type="text" value="654657" disabled/>#}
                    {##}
                    {#                    <label for="fecha">Fecha</label>#}
                    {#                    <input id="fecha" type="text" value="12/10/2015" disabled/>#}
                    <h2> Ordenes de Produccion - Sin Iniciar</h2>

                    <div class="col-lg-1"></div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Articulo</th>
                            <th>Cantidad</th>
                            <th>Status</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Entrega</th>
                            <th>Fecha Creacion</th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% if ordenes %}
                            {% for ordensi in ordenes_sininiciar %}
                                <tr>
                                    <td>{{ ordensi.id_lote }}</td>
                                    <td>{{ ordensi.nombre_articulo.nombre }}</td>
                                    <td>{{ ordensi.cantidad }}</td>
                                    <td>{{ ordensi.get_status_display }}</td>
                                    <td>{{ ordensi.fecha_inicio }}</td>
                                    <td>{{ ordensi.fecha_entrega }}</td>
                                    <td>{{ ordensi.fecha_creacion }}</td>
                                    <td>
                                        <button class="btn btn-primary"
                                                onclick="window.location='{% url 'produccion:detalle_orden' pk=ordensi.id_lote %}'">
                                            Ver Detalle
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    {##}
                    {#                    <table class="table table-bordered">#}
                    {#                        <thead>#}
                    {#                        <tr>#}
                    {#                            <th>Etapa</th>#}
                    {#                            <th>Proceso</th>#}
                    {#                            <th>Codigo</th>#}
                    {#                            <th>Descripcion</th>#}
                    {#                            <th>No. Serie</th>#}
                    {#                        </tr>#}
                    {#                        </thead>#}
                    {#                        <tbody>#}
                    {#                        <tr>#}
                    {#                            <td>Ensamble</td>#}
                    {#                            <td>Ensamble Tarjeta</td>#}
                    {#                            <td>Ens56</td>#}
                    {#                            <td>Ensable de tarjeta madre a case</td>#}
                    {#                            <td>AB</td>#}
                    {#                        </tr>#}
                    {#                        <tr>#}
                    {#                            <td>Plastico</td>#}
                    {#                            <td>Moldeo</td>#}
                    {#                            <td>mold01</td>#}
                    {#                            <td>Moldeo de plastico de case</td>#}
                    {#                            <td>AF</td>#}
                    {#                        </tr>#}
                    {##}
                    {#                        </tbody>#}
                    {#                    </table>#}
                </div>


            </div>
        </div>


    <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {#                    <label for="orden">No. Orden</label>#}
                    {#                    <input id="orden" type="text" value="654657" disabled/>#}
                    {##}
                    {#                    <label for="fecha">Fecha</label>#}
                    {#                    <input id="fecha" type="text" value="12/10/2015" disabled/>#}
                    <h2> Ordenes de Produccion - Canceladas</h2>

                    <div class="col-lg-1"></div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Articulo</th>
                            <th>Cantidad</th>
                            <th>Status</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Entrega</th>
                            <th>Fecha Creacion</th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% if ordenes %}
                            {% for ordenca in ordenes_canceladas %}
                                <tr>
                                    <td>{{ ordenca.id_lote }}</td>
                                    <td>{{ ordenca.nombre_articulo.nombre }}</td>
                                    <td>{{ ordenca.cantidad }}</td>
                                    <td>{{ ordenca.get_status_display }}</td>
                                    <td>{{ ordenca.fecha_inicio }}</td>
                                    <td>{{ ordenca.fecha_entrega }}</td>
                                    <td>{{ ordenca.fecha_creacion }}</td>
                                    <td>
                                        <button class="btn btn-primary"
                                                onclick="window.location='{% url 'produccion:detalle_orden' pk=ordenca.id_lote %}'">
                                            Ver Detalle
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>

                </div>
    </div>


    </div>


{% endblock %}