{% extends 'base.html' %}
{% block title %}
    Orden de Producci&oacute;n
{% endblock %}

{% block body %}
    <div class="row">
        <h1> Orden de Producci&oacute;n</h1>
    </div>


    <table class="table">
        <thead>
        <tr class="active">
            <th>ID</th>
            <th>Articulo a producir</th>
            <th>Cantidad a producir</th>
            <th>Status</th>
            <th>Fecha Inicio</th>
            <th>Fecha Entrega</th>
            <th>Fecha Creacion</th>
            <th></th>
            <th></th>


        </tr>
        </thead>
        <tbody>
        {% if orden %}

            <tr>
                <td>{{ orden.id_lote }}</td>
                <td>{{ orden.nombre_articulo.nombre }}</td>
                <td>{{ orden.cantidad }}</td>
                <td>{{ orden.get_status_display }}</td>
                <td>{{ orden.fecha_inicio }}</td>
                <td>{{ orden.fecha_entrega }}</td>
                <td>{{ orden.fecha_creacion }}</td>
                        <td><button type="button" class="btn btn-danger">Cancelar</button></td>
            <td> <button type="button" class="btn btn-primary">Iniciar</button></td>
            </tr>

        {% endif %}
        </tbody>
    </table>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Materiales de Consumo</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>No. Inventario</th>
                    <th>Cantidad</th>


                </tr>
                </thead>
                <tbody>
                {% if materiales %}
                    {% for material in materiales %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ material.material.nombre }}</td>
                            <td>{{ material.material.descripccion }}</td>
                            <td>{{ material.material.numero_inventario }}</td>
                            <td>{{ material.cantidad }}</td>


                        </tr>
                    {% endfor %}
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}