{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
    Principal
{% endblock %}

{% block body %}
    <h1>planeacion</h1>

    <div class="modal fade" id="modal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Nueva orden de produccion</h4>
                </div>
                <div class="modal-body">

                    <form action="" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "star" %} Guardar
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        {% endbuttons %}
                    </form>
                </div>
                <div class="modal-footer">


                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
    <h3>Agregar orden</h3>
        <br><br>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal1">
            +Nueva Orden
        </button>
    </div>
    <div class="col-lg-4">
        <h3>Consulta individual</h3>

        <label>Folio: </label><input type="text" class="form-control" id="folio1">
        <button class="btn btn-success" name="cambiar status" data-toggle="modal" data-target="#myModal" onclick="dos()">Consultar</button>

    </div>

        <div class="col-lg-4">
        <h3>Cambiar status</h3>

        <label>Folio: </label><input type="text" class="form-control" id="folio2">
        <button class="btn btn-success" name="cambiarstatus" data-toggle="modal" data-target="#modal2" onclick="uno()">Cambiar status</button>

    </div>
 <div class="col-lg-12">
 <br><br><br>
 </div>
    <form>

    </form>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr><h1>Ordenes de compra</h1></tr>
                <tr>
                    <th>Lote</th>
					<th>id venta</th>
                    <th>nombre_articulo</th>
                    <th>cantidad</th>
                    <th>status</th>
                    <th>fecha inicio</th>
                    <th>fecha creacion</th>
                    <th>fecha entrega</th>
                </tr>
                </thead>
                <tbody>
                {% if planeacion %}
                    {% for planeacion in planeacion %}
                        <tr>
                            <td>{{ planeacion.id_lote }} </td>
							<td>{{ planeacion.id_venta }} </td>
                            <td>{{ planeacion.nombre_articulo }} </td>
                            <td>{{ planeacion.cantidad }} </td>
                            <td>{{ planeacion.status }} </td>
                            <td>{{ planeacion.fecha_inicio }} </td>
                            <td>{{ planeacion.fecha_creacion }} </td>
                            <td>{{ planeacion.fecha_entrega }} </td>


                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <p>Ningun registro</p>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>


<!--Template ventas inicio-->
    <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr><h1>Ventas pendintes de orden de compra</h1></tr>
                <tr>
                    <th>Factura</th>
					<th>fecha</th>
                    <th>producto</th>
                    <th>cantidad</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if ventas %}
                    {% for ventas in ventas %}
                        <tr>
                            <td>{{ ventas.num_factura }} </td>
							<td>{{ ventas.fecha }} </td>
                            <td>{{ ventas.producto }} </td>
                            <td>{{ ventas.cantidad }} </td>
                            <td><button class="btn btn-primary" onclick="window.location='{% url 'planeaccion:crear_orden_produccion' factura=ventas.num_factura producto=ventas.producto cantidad=ventas.cantidad %}'">Generar Orden de produccion</button> </td>

                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <p>Ningun registro</p>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
<!--Template ventas fin-->

        <!--<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Cambiar status</button>-->

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Consulta individual</h4>
                    </div>
                    <div class="modal-body">

                        <iframe src="" frameborder="0" allowtransparency="true" width="500" height="300" id="iframe1"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->


              <div class="modal fade" id="modal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cambiar status</h4>
                </div>
                <div class="modal-body">
                    <iframe src='' frameborder="0" allowtransparency="true" width="500" height="500" id="iframe2"></iframe>
                </div>
                <div class="modal-footer">


                </div>
            </div>
        </div>
    </div>

    <script>
        function uno(){
            document.getElementById('iframe2').src='cambiar_status2/'+document.getElementById('folio2').value;

        }
                function dos(){
            document.getElementById('iframe1').src='cambiar_status/'+document.getElementById('folio1').value;


        }

</script>

{% endblock %}