<form action="{{ action }}/" method="post">
    {% csrf_token %}

    Nombre:
    <input name="ClienteNombre" value="{{ cliente.nombre }}"><br><br>

    RFC:
    <input name="ClienteRFC" value="{{ cliente.rfc }}"><br><br>

    Direccion:
    <input name="ClienteDireccion" value="{{ cliente.direccion }}"><br><br>

    Ciudad:
    <input name="ClienteCiudad" value="{{ cliente.ciudad }}"><br><br>

    Estado:
    <input name="ClienteEstado" value="{{ cliente.estado }}"><br><br>

    Pais:
    <input name="ClientePais" value="{{ cliente.pais }}"><br><br>

    Giro:
    <input name="ClienteGiro" value="{{ cliente.giro }}"><br><br>

    Telefono:
    <input name="ClienteTelefono" value="{{ cliente.telefono }}"><br><br>

    Correo:
    <input name="ClienteCorreo" value="{{ cliente.correo }}"><br><br>

    <input type="submit" value="{{ boton }}">
</form>