{% extends 'base.html' %}


{% block title %}
    Productos
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">Productos <a class="btn btn-sm btn-danger pull-right"
                            href="{% url 'inventario:productos_add' %}">Agregar</a></div>
                    <table class="table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Numero de inventario</th>
                        <th>Código de barras</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.numero_inventario }}</td>
                            <td>{{ producto.codigo_barras }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}